In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
file1 = ('VacantSpaces_AllFacilities_08.02.22.csv')
file2 = ('MovementSummary_AllFacilities_07.01.22-08.02.22.csv')
# file3 = ('Campaign.csv')
file4 = ('ConsolidatedOccupancy_CompanyLevel_AllFacilities_08.02.22.csv')

In [3]:
file1 = pd.read_csv(file1)
file1_ = file1[['Facility','SQUARE FEET','AMENITY','VACANT UNITS','TOTAL UNITS','OCCUPIED PERCENT','STANDARD RATE','SCHEDULED MOVE OUT','CURRENT PROMOS']]

In [4]:
file1_['SCHEDULED MOVE OUT']

0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
              ...
1461                 NaN
1462                 NaN
1463                 NaN
1464                 NaN
1465    E28 - 08/31/2022
Name: SCHEDULED MOVE OUT, Length: 1466, dtype: object

# PART 1 SCHEDULED MOVE OUT CLEANUP

In [5]:
sch_moveout1 = file1_['SCHEDULED MOVE OUT'].str.split(r" - |,",n=0,expand=True)

In [6]:
sch_moveout1

        0           1     2     3     4     5     6     7     8     9
0     NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1     NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2     NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3     NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4     NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...   ...         ...   ...   ...   ...   ...   ...   ...   ...   ...
1461  NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1462  NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1463  NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1464  NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1465  E28  08/31/2022  None  None  None  None  None  None  None  None

[1466 rows x 10 columns]

In [7]:
sch_moveout1 = sch_moveout1.fillna(0)

In [8]:
sch_moveout1 = sch_moveout1.applymap(str)

In [9]:
sch_moveout1

        0           1  2  3  4  5  6  7  8  9
0       0           0  0  0  0  0  0  0  0  0
1       0           0  0  0  0  0  0  0  0  0
2       0           0  0  0  0  0  0  0  0  0
3       0           0  0  0  0  0  0  0  0  0
4       0           0  0  0  0  0  0  0  0  0
...   ...         ... .. .. .. .. .. .. .. ..
1461    0           0  0  0  0  0  0  0  0  0
1462    0           0  0  0  0  0  0  0  0  0
1463    0           0  0  0  0  0  0  0  0  0
1464    0           0  0  0  0  0  0  0  0  0
1465  E28  08/31/2022  0  0  0  0  0  0  0  0

[1466 rows x 10 columns]

In [10]:
merged_data = file1_.join(sch_moveout1, how='left')

In [11]:
merged_data[::-8]

,Facility,SQUARE FEET,AMENITY,VACANT UNITS,TOTAL UNITS,OCCUPIED PERCENT,STANDARD RATE,SCHEDULED MOVE OUT,CURRENT PROMOS,0,1,2,3,4,5,6,7,8,9
1465,KO Storage of Wisconsin Dells - Hwy 16,200,"Drive Up, Rollup",9,68,83.82%,$97.00,E28 - 08/31/2022,NaN,E28,08/31/2022,0,0,0,0,0,0,0,0
1457,KO Storage of Wisconsin Dells - Hwy 16,200,"Climate Controlled, Electric",0,1,100.00%,$108.00,NaN,NaN,0,0,0,0,0,0,0,0,0,0
1449,KO Storage of Wisconsin Dells - Hwy 13,150,"Drive Up, Roll Up",4,20,80.00%,$106.00,NaN,50% Off 1st Full Mo.,0,0,0,0,0,0,0,0,0,0
1441,KO Storage of Windham,300,"Drive Up, Roll Up",2,16,87.50%,$362.00,NaN,NaN,0,0,0,0,0,0,0,0,0,0
1433,KO Storage of Windham,50,"Roll Up, Temp. Controlled",0,1,0.00%,$0.00,NaN,NaN,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,KO Storage of Addis,50,"Drive Up, Roll Up",0,2,100.00%,$103.00,NaN,NaN,0,0,0,0,0,0,0,0,0,0
25,KO Storage of Addis,420,"Outdoor, Uncovered",1,5,80.00%,$75.00,NaN,50% Off 1st Full Mo.,0,0,0,0,0,0,0,0,0,0
17,KO Storage of Aberdeen,350,"Drive Up, Multi-Door",1,25,84.00%,$67.00,"11 - 08/31/2022, 8 - 08/31/2022",NaN,11,08/31/2022,8,08/31/2022,0,0,0,0,0,0
9,KO Storage of 29 Palms,100,"Climate Controlled, Interior",1,38,97.37%,$235.00,NaN,NaN,0,0,0,0,0,0,0,0,0,0
1,KO Storage of 29 Palms,200,"Climate Controlled, Interior",2,24,87.50%,$384.00,NaN,NaN,0,0,0,0,0,0,0,0,0,0

In [12]:
# merged_data.to_excel('data2.xls')
# df.apply(lambda s: s.value_counts(), axis=1).fillna(0)

In [13]:
#@ediited
merged_data2 = merged_data.drop([0,2,4,6,8],axis=1)

In [14]:
merged_data2

,Facility,SQUARE FEET,AMENITY,VACANT UNITS,TOTAL UNITS,OCCUPIED PERCENT,STANDARD RATE,SCHEDULED MOVE OUT,CURRENT PROMOS,1,3,5,7,9
0,KO Storage of 29 Palms,25,"Climate Controlled, Interior",1,22,90.91%,$113.00,NaN,NaN,0,0,0,0,0
1,KO Storage of 29 Palms,200,"Climate Controlled, Interior",2,24,87.50%,$384.00,NaN,NaN,0,0,0,0,0
2,KO Storage of 29 Palms,70,"Climate Controlled, Interior",0,4,100.00%,$192.00,NaN,NaN,0,0,0,0,0
3,KO Storage of 29 Palms,130,"Climate Controlled, Interior",0,11,90.91%,$277.00,NaN,NaN,0,0,0,0,0
4,KO Storage of 29 Palms,95,"Climate Controlled, Interior",0,6,100.00%,$209.00,NaN,NaN,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461,KO Storage of Wisconsin Dells - Hwy 16,250,"Drive Up, Roll Up",0,22,100.00%,$145.00,NaN,NaN,0,0,0,0,0
1462,KO Storage of Wisconsin Dells - Hwy 16,400,"Drive Up, Multi-Door, Roll Up",1,19,94.74%,$193.00,NaN,NaN,0,0,0,0,0
1463,KO Storage of Wisconsin Dells - Hwy 16,150,"Drive Up, Roll Up",5,26,80.77%,$79.00,NaN,NaN,0,0,0,0,0
1464,KO Storage of Wisconsin Dells - Hwy 16,400,"Drive Up, Roll Up",0,1,100.00%,$184.00,NaN,NaN,0,0,0,0,0
1465,KO Storage of Wisconsin Dells - Hwy 16,200,"Drive Up, Rollup",9,68,83.82%,$97.00,E28 - 08/31/2022,NaN,08/31/2022,0,0,0,0

In [15]:
# c = merged_data.iloc[:,-8:]

In [16]:
merged_data2.to_excel('yy.xls')

<ipython-input-16-c820f4bac395>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  merged_data2.to_excel('yy.xls')

In [17]:
merged_data2

,Facility,SQUARE FEET,AMENITY,VACANT UNITS,TOTAL UNITS,OCCUPIED PERCENT,STANDARD RATE,SCHEDULED MOVE OUT,CURRENT PROMOS,1,3,5,7,9
0,KO Storage of 29 Palms,25,"Climate Controlled, Interior",1,22,90.91%,$113.00,NaN,NaN,0,0,0,0,0
1,KO Storage of 29 Palms,200,"Climate Controlled, Interior",2,24,87.50%,$384.00,NaN,NaN,0,0,0,0,0
2,KO Storage of 29 Palms,70,"Climate Controlled, Interior",0,4,100.00%,$192.00,NaN,NaN,0,0,0,0,0
3,KO Storage of 29 Palms,130,"Climate Controlled, Interior",0,11,90.91%,$277.00,NaN,NaN,0,0,0,0,0
4,KO Storage of 29 Palms,95,"Climate Controlled, Interior",0,6,100.00%,$209.00,NaN,NaN,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461,KO Storage of Wisconsin Dells - Hwy 16,250,"Drive Up, Roll Up",0,22,100.00%,$145.00,NaN,NaN,0,0,0,0,0
1462,KO Storage of Wisconsin Dells - Hwy 16,400,"Drive Up, Multi-Door, Roll Up",1,19,94.74%,$193.00,NaN,NaN,0,0,0,0,0
1463,KO Storage of Wisconsin Dells - Hwy 16,150,"Drive Up, Roll Up",5,26,80.77%,$79.00,NaN,NaN,0,0,0,0,0
1464,KO Storage of Wisconsin Dells - Hwy 16,400,"Drive Up, Roll Up",0,1,100.00%,$184.00,NaN,NaN,0,0,0,0,0
1465,KO Storage of Wisconsin Dells - Hwy 16,200,"Drive Up, Rollup",9,68,83.82%,$97.00,E28 - 08/31/2022,NaN,08/31/2022,0,0,0,0

In [18]:
# t = ret_0_(c)

In [19]:
merged_data2.iloc[:,-5:]

               1  3  5  7  9
0              0  0  0  0  0
1              0  0  0  0  0
2              0  0  0  0  0
3              0  0  0  0  0
4              0  0  0  0  0
...          ... .. .. .. ..
1461           0  0  0  0  0
1462           0  0  0  0  0
1463           0  0  0  0  0
1464           0  0  0  0  0
1465  08/31/2022  0  0  0  0

[1466 rows x 5 columns]

In [20]:

value_counts = merged_data2.iloc[:,-5:].stack().groupby(level=0).nunique()

In [21]:
value_counts

0       1
1       1
2       1
3       1
4       1
       ..
1461    1
1462    1
1463    1
1464    1
1465    2
Length: 1466, dtype: int64

In [22]:
merged_data3 = merged_data2.merge(value_counts.rename('new'), left_index=True, right_index=True)

In [23]:
# merged_data2.iloc[:,-8:].value_counts()
# value_counts = merged_data2.iloc[:,-5:].stack().groupby(level=0).value_counts().unstack(fill_value=0)

In [24]:
# merged_data3 = merged_data.join(value_counts['o'], how='left')

In [25]:
merged_data3

,Facility,SQUARE FEET,AMENITY,VACANT UNITS,TOTAL UNITS,OCCUPIED PERCENT,STANDARD RATE,SCHEDULED MOVE OUT,CURRENT PROMOS,1,3,5,7,9,new
0,KO Storage of 29 Palms,25,"Climate Controlled, Interior",1,22,90.91%,$113.00,NaN,NaN,0,0,0,0,0,1
1,KO Storage of 29 Palms,200,"Climate Controlled, Interior",2,24,87.50%,$384.00,NaN,NaN,0,0,0,0,0,1
2,KO Storage of 29 Palms,70,"Climate Controlled, Interior",0,4,100.00%,$192.00,NaN,NaN,0,0,0,0,0,1
3,KO Storage of 29 Palms,130,"Climate Controlled, Interior",0,11,90.91%,$277.00,NaN,NaN,0,0,0,0,0,1
4,KO Storage of 29 Palms,95,"Climate Controlled, Interior",0,6,100.00%,$209.00,NaN,NaN,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461,KO Storage of Wisconsin Dells - Hwy 16,250,"Drive Up, Roll Up",0,22,100.00%,$145.00,NaN,NaN,0,0,0,0,0,1
1462,KO Storage of Wisconsin Dells - Hwy 16,400,"Drive Up, Multi-Door, Roll Up",1,19,94.74%,$193.00,NaN,NaN,0,0,0,0,0,1
1463,KO Storage of Wisconsin Dells - Hwy 16,150,"Drive Up, Roll Up",5,26,80.77%,$79.00,NaN,NaN,0,0,0,0,0,1
1464,KO Storage of Wisconsin Dells - Hwy 16,400,"Drive Up, Roll Up",0,1,100.00%,$184.00,NaN,NaN,0,0,0,0,0,1
1465,KO Storage of Wisconsin Dells - Hwy 16,200,"Drive Up, Rollup",9,68,83.82%,$97.00,E28 - 08/31/2022,NaN,08/31/2022,0,0,0,0,2

In [26]:
merged_data3['FUTURE_MOVEOUTS'] = merged_data3['new'] - 1

In [27]:
merged_data3

,Facility,SQUARE FEET,AMENITY,VACANT UNITS,TOTAL UNITS,OCCUPIED PERCENT,STANDARD RATE,SCHEDULED MOVE OUT,CURRENT PROMOS,1,3,5,7,9,new,FUTURE_MOVEOUTS
0,KO Storage of 29 Palms,25,"Climate Controlled, Interior",1,22,90.91%,$113.00,NaN,NaN,0,0,0,0,0,1,0
1,KO Storage of 29 Palms,200,"Climate Controlled, Interior",2,24,87.50%,$384.00,NaN,NaN,0,0,0,0,0,1,0
2,KO Storage of 29 Palms,70,"Climate Controlled, Interior",0,4,100.00%,$192.00,NaN,NaN,0,0,0,0,0,1,0
3,KO Storage of 29 Palms,130,"Climate Controlled, Interior",0,11,90.91%,$277.00,NaN,NaN,0,0,0,0,0,1,0
4,KO Storage of 29 Palms,95,"Climate Controlled, Interior",0,6,100.00%,$209.00,NaN,NaN,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461,KO Storage of Wisconsin Dells - Hwy 16,250,"Drive Up, Roll Up",0,22,100.00%,$145.00,NaN,NaN,0,0,0,0,0,1,0
1462,KO Storage of Wisconsin Dells - Hwy 16,400,"Drive Up, Multi-Door, Roll Up",1,19,94.74%,$193.00,NaN,NaN,0,0,0,0,0,1,0
1463,KO Storage of Wisconsin Dells - Hwy 16,150,"Drive Up, Roll Up",5,26,80.77%,$79.00,NaN,NaN,0,0,0,0,0,1,0
1464,KO Storage of Wisconsin Dells - Hwy 16,400,"Drive Up, Roll Up",0,1,100.00%,$184.00,NaN,NaN,0,0,0,0,0,1,0
1465,KO Storage of Wisconsin Dells - Hwy 16,200,"Drive Up, Rollup",9,68,83.82%,$97.00,E28 - 08/31/2022,NaN,08/31/2022,0,0,0,0,2,1

In [28]:
# merged_data3 = merged_data3.drop(['0'],axis=1)

In [29]:
merged_data4 = merged_data3[['Facility','SQUARE FEET','VACANT UNITS','TOTAL UNITS','FUTURE_MOVEOUTS','STANDARD RATE']]

In [30]:
merged_data4

,Facility,SQUARE FEET,VACANT UNITS,TOTAL UNITS,FUTURE_MOVEOUTS,STANDARD RATE
0,KO Storage of 29 Palms,25,1,22,0,$113.00
1,KO Storage of 29 Palms,200,2,24,0,$384.00
2,KO Storage of 29 Palms,70,0,4,0,$192.00
3,KO Storage of 29 Palms,130,0,11,0,$277.00
4,KO Storage of 29 Palms,95,0,6,0,$209.00
...,...,...,...,...,...,...
1461,KO Storage of Wisconsin Dells - Hwy 16,250,0,22,0,$145.00
1462,KO Storage of Wisconsin Dells - Hwy 16,400,1,19,0,$193.00
1463,KO Storage of Wisconsin Dells - Hwy 16,150,5,26,0,$79.00
1464,KO Storage of Wisconsin Dells - Hwy 16,400,0,1,0,$184.00
1465,KO Storage of Wisconsin Dells - Hwy 16,200,9,68,1,$97.00

In [31]:
merged_data4_ = merged_data4.rename(columns={'Facility':'FACILITY NAME','SQUARE FEET':'UNIT SF','TOTAL UNITS':'UNIT COUNT'})

In [32]:
merged_data4_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1466 entries, 0 to 1465
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FACILITY NAME    1466 non-null   object
 1   UNIT SF          1466 non-null   object
 2   VACANT UNITS     1466 non-null   int64
 3   UNIT COUNT       1466 non-null   int64
 4   FUTURE_MOVEOUTS  1466 non-null   int64
 5   STANDARD RATE    1466 non-null   object
dtypes: int64(3), object(3)
memory usage: 68.8+ KB

# PART 2 MOVEMENT SUMMARY CLEANUP

In [33]:
file2 = pd.read_csv(file2)

In [34]:
file2 = file2[:-1]

In [35]:
file2_ = file2[['FACILITY NAME','UNIT SF','UNIT COUNT','MOVE INS','MOVE OUTS','NET IN']]
file2_['UNIT COUNT'] = file2_['UNIT COUNT'].astype(int)

<ipython-input-35-110868065844>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file2_['UNIT COUNT'] = file2_['UNIT COUNT'].astype(int)

# MERGE MOVEMENTACTIVITY AND VACANTSPACES

In [36]:
merged_files2 = merged_data4_.merge(file2_, on= ['FACILITY NAME','UNIT COUNT','UNIT SF'],how='right')

In [37]:
merged_files2

,FACILITY NAME,UNIT SF,VACANT UNITS,UNIT COUNT,FUTURE_MOVEOUTS,STANDARD RATE,MOVE INS,MOVE OUTS,NET IN
0,KO Storage of 29 Palms,25,1.0,22,0.0,$113.00,0,0,-1
1,KO Storage of 29 Palms,50,2.0,28,0.0,$161.00,4,1,4
2,KO Storage of 29 Palms,70,0.0,4,0.0,$192.00,0,0,0
3,KO Storage of 29 Palms,95,0.0,6,0.0,$209.00,0,0,0
4,KO Storage of 29 Palms,100,1.0,38,0.0,$235.00,3,0,3
...,...,...,...,...,...,...,...,...,...
1738,KO Storage of Wisconsin Dells - Hwy 16,400,0.0,1,0.0,$184.00,0,0,0
1739,KO Storage of Wisconsin Dells - Hwy 16,400,1.0,19,0.0,$193.00,0,0,0
1740,KO Storage of Wisconsin Dells - Hwy 16,400,0.0,1,0.0,$16.75,0,0,0
1741,KO Storage of Wisconsin Dells - Hwy 16,400,0.0,1,0.0,$184.00,0,0,0
1742,KO Storage of Wisconsin Dells - Hwy 16,SUBTOTALS,NaN,229,NaN,NaN,6,8,-2

In [38]:
merged_files2_3 = merged_files2.dropna()

In [39]:
r = merged_files2_3.drop_duplicates()

In [40]:
r

,FACILITY NAME,UNIT SF,VACANT UNITS,UNIT COUNT,FUTURE_MOVEOUTS,STANDARD RATE,MOVE INS,MOVE OUTS,NET IN
0,KO Storage of 29 Palms,25,1.0,22,0.0,$113.00,0,0,-1
1,KO Storage of 29 Palms,50,2.0,28,0.0,$161.00,4,1,4
2,KO Storage of 29 Palms,70,0.0,4,0.0,$192.00,0,0,0
3,KO Storage of 29 Palms,95,0.0,6,0.0,$209.00,0,0,0
4,KO Storage of 29 Palms,100,1.0,38,0.0,$235.00,3,0,3
...,...,...,...,...,...,...,...,...,...
1735,KO Storage of Wisconsin Dells - Hwy 16,250,0.0,22,0.0,$145.00,0,0,0
1736,KO Storage of Wisconsin Dells - Hwy 16,300,1.0,30,0.0,$158.00,0,0,0
1737,KO Storage of Wisconsin Dells - Hwy 16,400,0.0,1,0.0,$16.75,0,0,0
1738,KO Storage of Wisconsin Dells - Hwy 16,400,0.0,1,0.0,$184.00,0,0,0
1739,KO Storage of Wisconsin Dells - Hwy 16,400,1.0,19,0.0,$193.00,0,0,0

In [41]:
file_4 = pd.read_csv(file4)
file__4 = file_4[['FACILITY NAME','PERCENT OCCUPIED']]

In [42]:
r2 = r.merge(file__4,how='left', on='FACILITY NAME')

In [47]:
r2

,FACILITY NAME,UNIT SF,VACANT UNITS,UNIT COUNT,FUTURE_MOVEOUTS,STANDARD RATE,MOVE INS,MOVE OUTS,NET IN,PERCENT OCCUPIED
0,KO Storage of 29 Palms,25,1.0,22,0.0,$113.00,0,0,-1,93.29%
1,KO Storage of 29 Palms,50,2.0,28,0.0,$161.00,4,1,4,93.29%
2,KO Storage of 29 Palms,70,0.0,4,0.0,$192.00,0,0,0,93.29%
3,KO Storage of 29 Palms,95,0.0,6,0.0,$209.00,0,0,0,93.29%
4,KO Storage of 29 Palms,100,1.0,38,0.0,$235.00,3,0,3,93.29%
...,...,...,...,...,...,...,...,...,...,...
1464,KO Storage of Wisconsin Dells - Hwy 16,250,0.0,22,0.0,$145.00,0,0,0,82.97%
1465,KO Storage of Wisconsin Dells - Hwy 16,300,1.0,30,0.0,$158.00,0,0,0,82.97%
1466,KO Storage of Wisconsin Dells - Hwy 16,400,0.0,1,0.0,$16.75,0,0,0,82.97%
1467,KO Storage of Wisconsin Dells - Hwy 16,400,0.0,1,0.0,$184.00,0,0,0,82.97%
1468,KO Storage of Wisconsin Dells - Hwy 16,400,1.0,19,0.0,$193.00,0,0,0,82.97%

In [48]:
r3 = r2[['FACILITY NAME','UNIT SF','VACANT UNITS', 'UNIT COUNT','FUTURE_MOVEOUTS', 'PERCENT OCCUPIED', 'STANDARD RATE', 'MOVE INS', 'MOVE OUTS','NET IN']]

,FACILITY NAME,UNIT SF,VACANT UNITS,UNIT COUNT,FUTURE_MOVEOUTS,PERCENT OCCUPIED,STANDARD RATE,MOVE INS,MOVE OUTS,NET IN
0,KO Storage of 29 Palms,25,1.0,22,0.0,93.29%,$113.00,0,0,-1
1,KO Storage of 29 Palms,50,2.0,28,0.0,93.29%,$161.00,4,1,4
2,KO Storage of 29 Palms,70,0.0,4,0.0,93.29%,$192.00,0,0,0
3,KO Storage of 29 Palms,95,0.0,6,0.0,93.29%,$209.00,0,0,0
4,KO Storage of 29 Palms,100,1.0,38,0.0,93.29%,$235.00,3,0,3
...,...,...,...,...,...,...,...,...,...,...
1464,KO Storage of Wisconsin Dells - Hwy 16,250,0.0,22,0.0,82.97%,$145.00,0,0,0
1465,KO Storage of Wisconsin Dells - Hwy 16,300,1.0,30,0.0,82.97%,$158.00,0,0,0
1466,KO Storage of Wisconsin Dells - Hwy 16,400,0.0,1,0.0,82.97%,$16.75,0,0,0
1467,KO Storage of Wisconsin Dells - Hwy 16,400,0.0,1,0.0,82.97%,$184.00,0,0,0
1468,KO Storage of Wisconsin Dells - Hwy 16,400,1.0,19,0.0,82.97%,$193.00,0,0,0

In [44]:
r3.to_excel('data33.xls')

<ipython-input-44-f81eefbdd7b4>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  r2.to_excel('data33.xls')

# GOOGLE DATA CLEANUP

In [45]:
file_3_ = pd.read_csv(file3)

NameError: name 'file3' is not defined

In [ ]:
file_3_